
/* Brand colors */
$Black                     : #000000;
$DarkGrey                  : #a9a9a9;
$LightGrey                 : #bbbbbb;
$White                     : #ffffff;

$Blue                      : #0000ff;
$Yellow                    : #ffff00;
$Red                       : #ff0000;

/* Font options */
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFontFamily            : Arial, sans-serif;
$mainLineHeight            : 1.5;

/* Breakpoints */
$mobileWidth               : 100%;
// $mobileWidth_lg            : 512px;
$tabletWidth               : 768px;
$laptopWidth               : 1024px;
$desktopWidth              : 1280px;
// $desktopWidth_lg           : 1536px;

/* Primary colors */
$mainColor                 : $Black;
$mainBackground            : $White;
$linkColor                 : $Blue;
$linkColor_hover           : rgba($Blue, .8);

$successColor              : $Blue;
$warningColor              : $Yellow;
$errorColor                : $Red;

/* Shadows */
$scrollbarBoxShadow        : inset 0 0 1px rgba($Black, .66);
